{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- $wsl := false -}}{{/* true if this is WSL2 */}}
{{- "" -}}


{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $serialNumberSHA256Sum := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" | sha256sum -}}
{{-   if eq $serialNumberSHA256Sum "0b4854803d23940ca945d6e7a600e13b4fdf7b72e50e93165877ddc95615011f" -}}
{{-     $hostname = "toms-mba" -}}
{{-   else if eq $serialNumberSHA256Sum "2728f5c7d4781c6824d9cf69a001d000530d1315c8b9ca3eca966c4431ff616c" -}}
{{-     $hostname = "toms-mbp" -}}
{{-   else if eq $serialNumberSHA256Sum "4aad1de0b04870891b321da4fcc8327f6644e1f8353e1105d2b33f908b5d1387" -}}
{{-     $hostname = "toms-mbp-16" -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{ if (eq .chezmoi.os "linux") }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{-   $wsl = true -}}
{{   end }}
{{ end }}


[data]
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  ephemeral = {{ $ephemeral }}
  personal = {{ $personal }}
  wsl = {{ $wsl }}
  name = "Jack Platten"
{{- if $codespaces }}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
  email = "jack@platten.me"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
  email = "{{ promptString "email" }}"
{{- end }}
